<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.j2.onlinehomeworksystem.mapper.IClassManageDaoMapper">
    <select id="selectAllClass" resultType="Class">
        select * from class
    </select>

    <select id="selectOneClass" resultType="Class">
        select * from class where classid=#{classid}
    </select>

    <delete id="deleteClass">
        delete from class where classid=#{classid}
    </delete>

    <update id="updateClass" parameterType="Class">
        update class set classname=#{classname} where classid=#{classid}
    </update>
    <insert id="addClass" parameterType="Class">
        insert into class(classname) values (#{classname})
    </insert>
</mapper>
